<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 600px;
      text-align: center;
    }

    .form-container label {
      display: block;
      margin-bottom: 8px;
      text-align: left;
      font-weight: bold;
    }

    .form-container input,
    .form-container textarea {
      width: 100%;
      padding: 8px;
      margin-bottom: 16px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    .form-container textarea {
      resize: vertical;
      height: 100px;
    }

    .form-container button {
        background-color: #d63384;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 16px;
    }
.form-container button:hover {
    background-color: #d8217d;
    }
  </style>
  <title>Write New post</title>
</head>
<body>
<div class="form-container">
  <h2>Edit your Post</h2>
 <% if(post){ %> 
 <b><p style="text-align: left;">Post id: <%= post.id %> </p></b>
  <b><p style="text-align: left;">Post Username: <%= post.username %> </p></b>
  <form  method="post" action="/posts/<%= post.id %>?_method=PATCH">
    <textarea id="content" name="content" placeholder="Write your post" cols="40" rows="15" required><%= post.content %></textarea>
    <a href="http://localhost:8000/posts" style="text-decoration: none;">
        <button type="submit">Edit Post</button>
    </a>
  </form>
  <% } %>
</div>
</body>
</html>
